.line-chart svg {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
.line-chart svg polyline[stroke="#0000FF"],
.line-chart svg circle[stroke="#0000FF"] {
    stroke: var(--link-color);
    stroke-width: 2;
}

.line-chart svg polyline[stroke="#FF0000"],
.line-chart svg circle[stroke="#FF0000"] {
    stroke: var(--visited-color);
    stroke-width: 2;
}

.line-chart svg text {
    fill: var(--text-color);
}
.line-chart svg polyline[stroke="#000000"] {
    stroke: var(--text-color);
}
