:root {
    --border-color: #cacaca;
    --background-deep: #fafafa;
    --background-success: #bbf7d0;
    --background-default: white;
    --background-error: #fecaca;
    --background-hover: #efefef;
    --text-color: black;
    --error-color: #dc2626;
    --success-color: #93c5fd;
    --success-color-hover: #60a5fa;
}
html,
body {
    background-color: var(--background-deep);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}
header {
    background-color: var(--background-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    min-height: 48px;
    border-bottom: 1px solid var(--border-color);
}
header > section {
    background-color: var(--background-default);
    flex-grow: 1;
}
main {
    flex-grow: 1;
    padding: 0 24px;
    overflow-y: scroll;
}
/* classes */
.bg-error {
    background-color: var(--background-error);
}
.bg-success {
    background-color: var(--background-success);
}
.card {
    background-color: var(--background-default);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 48px;
}
.card-image {
    background-position: center;
    background-size: cover;
}
.card-image + .card-content,
.card-content + .card-content,
.card-footer {
    border-top: 1px solid var(--border-color);
}
.card-footer {
    padding: 4px 8px;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex-grow: 1;
}
.mt-xl {
    margin-top: 24px;
}
.m-md {
    margin: 8px;
}
.m-sm {
    margin: 4px;
}
.mx-sm {
    margin-right: 4px;
    margin-left: 4px;
}
.mx-md {
    margin-left: 8px;
    margin-right: 8px;
}
.my-sm {
    margin-bottom: 4px;
    margin-top: 4px;
}
.my-md {
    margin-bottom: 8px;
    margin-top: 8px;
}
.my-lg {
    margin-bottom: 16px;
    margin-top: 16px;
}
.py-md {
    padding-bottom: 8px;
    padding-top: 8px;
}
.shadow {
    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.max-w-400px {
    max-width: 400px;
}
.min-w-500px {
    min-width: 500px;
}
.min-w-250px {
    min-width: 250px;
}
.h-150px {
    height: 150px;
}
.min-h-150px {
    min-height: 150px;
}
.text-center {
    text-align: center;
}
.text-error {
    color: var(--error-color);
}
.text-lg {
    font-size: 1.2rem;
}
.text-xl {
    font-size: 1.5rem;
}
.text-xxl {
    font-size: 2rem;
}
.align-content-center {
    align-content: center;
}
.justify-content-center {
    justify-content: center;
}
.scroll-y {
    overflow-y: scroll;
}
i.icon {
    width: 1em;
    height: 1em;
}
.card.x-sm {
    width: 200px;
}
.card.x-md {
    width: 416px;
}
.card.y-sm {
    height: 160px;
}
.card.y-md {
    height: 320px;
}
