:root {
    --border-color: #cacaca;
    --background-deep: #fafafa;
    --background-success: #bbf7d0;
    --background-default: white;
    --background-error: #fecaca;
    --background-hover: #efefef;
    --text-color: black;
    --error-color: #dc2626;
    --success-color: #93c5fd;
    --success-color-hover: #60a5fa;
    --size-sm: 4px;
    --size-md: 8px;
    --size-lg: 16px;
}
html,
body {
    background-color: var(--background-deep);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}
header {
    background-color: var(--background-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    min-height: 48px;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}
header > section {
    background-color: var(--background-default);
}
main {
    flex-grow: 1;
    padding: 0 24px;
    overflow-y: scroll;
}
/* classes */
.bg-error {
    background-color: var(--background-error);
}
.bg-success {
    background-color: var(--background-success);
}
.card {
    background-color: var(--background-default);
    border: 1px solid var(--border-color);
    border-radius: var(--size-sm);
    box-sizing: border-box;
    min-height: 48px;
}
.card-image {
    background-position: center;
    background-size: cover;
}
.card-image + .card-content,
.card-content + .card-content,
.card-footer {
    border-top: 1px solid var(--border-color);
}
.card-footer {
    padding: var(--size-sm) var(--size-md);
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex-grow: 1;
}
.mt-xl {
    margin-top: 24px;
}
.m-md {
    margin: var(--size-md);
}
.m-sm {
    margin: var(--size-sm);
}
.mx-sm {
    margin-right: var(--size-sm);
    margin-left: var(--size-sm);
}
.mx-md {
    margin-left: var(--size-md);
    margin-right: var(--size-md);
}
.my-sm {
    margin-bottom: var(--size-sm);
    margin-top: var(--size-sm);
}
.my-md {
    margin-bottom: var(--size-md);
    margin-top: var(--size-md);
}
.my-lg {
    margin-bottom: var(--size-lg);
    margin-top: var(--size-lg);
}
.py-md {
    padding-bottom: var(--size-md);
    padding-top: var(--size-md);
}
.shadow {
    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.max-w-400px {
    max-width: 400px;
}
.min-w-500px {
    min-width: 500px;
}
.min-w-250px {
    min-width: 250px;
}
.h-150px {
    height: 150px;
}
.min-h-150px {
    min-height: 150px;
}
.text-center {
    text-align: center;
}
.text-error {
    color: var(--error-color);
}
.text-lg {
    font-size: 1.2rem;
}
.text-xl {
    font-size: 1.5rem;
}
.text-xxl {
    font-size: 2rem;
}
.align-content-center {
    align-content: center;
}
.justify-content-center {
    justify-content: center;
}
.scroll-y {
    overflow-y: scroll;
}
i.icon {
    width: 1em;
    height: 1em;
}
.card.x-sm {
    width: 200px;
}
.card.x-md {
    width: 416px;
}
.card.y-sm {
    height: 160px;
}
.card.y-md {
    height: 320px;
}
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.tooltip .tooltip-content {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    padding: var(--size-md) 0;
    border-radius: var(--size-sm);

    position: absolute;
    z-index: 1;
    margin-top: -0.3rem;
    margin-left: var(--size-md);
}
.tooltip:hover .tooltip-content {
    visibility: visible;
}
.tooltip .tooltip-content::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
